/* Body */
body {
    font-family: 'Times New Romain';
    line-height: 2.4;
    background-color: #222222;
    color: #ffffff;
    padding-left: 10px;
    font-size: 16px;
}

/* Titles and text */
#header h1.title.toc-ignore {
    color:gold;
    font-weight: 600;
    border: 4px dotted gold;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 5px 8px 3px rgb(255, 255, 255, 0.4);
    font-size: 40px;
}

#header h4.author {
    color: cadetblue;
    font-weight: 600;
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#header h4.date {
    color: rgb(153, 181, 182);
    font-weight: 600;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 50px;
    border-bottom: 4px solid gold;
    padding-bottom: 30px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
    color: #ff6e2b;
    margin-top: 80px;
    margin-bottom: 10px;
}

h2 {
    font-size: 29px;
    font-weight: 600;
    color: #ff8045;
    margin-top: 80px;
    margin-bottom: 10px;
}

h3 {
    font-size: 26px;
    font-weight: 600;
    color: #ff9564;
    margin-top: 70px;
    margin-bottom: 10px;
}

h4 {
    font-size: 24px;
    font-weight: 600;
    color: #ffad87;
    margin-top: 50px;
    margin-bottom: 5px;
}

h5 {
    font-size: 22px;
    font-weight: 600;
    color: #ffccb5;
    margin-top: 30px;
    margin-bottom: 5px;
}

h6 {
    font-size: 22px;
    font-weight: 600;
    color: #ffd7c4;
    margin-top: 30px;
    margin-bottom: 5px;
}

p {
    color: #ffffff;
    margin-bottom: 1px;
}

p.important {
    color: #88ff88;
    margin-bottom: 3px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: dashed;
}

p.p1 {
    color: #ffff88;
    margin-bottom: 1px;
    font-weight: 500;
}

p.p2 {
    color: #ff88ff;
    margin-bottom: 1px;
    font-weight: 500;
}

p.p3 {
    color: #88ffff;
    margin-bottom: 1px;
    font-weight: 500;
}


/* Tables */

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 20px;
    font-size: 16px;
}

th, td {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    margin-bottom: 5px;
    text-align: right;
}

th {
    background-color: #286d9b;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 600;
    color: #000000;
    font-size: 17px;
}

td {
    font-weight: 600;
}

tr:hover {
    background-color: rgb(200, 100, 100);
}

html {
    scroll-behavior: smooth;
}

#TOC {
    background-color: #ffffff; 
    border: 4px solid #777777; 
    border-radius: 8px; 
    padding: 5px; 
    margin-bottom: 20px; 
    margin-top:0px;
    margin-right: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); 
    font-family: 'Times New Romain';
    max-width: 300px; 
    color: #000000;
    font-size: 15px;
}

#TOC .tocify-header.list-group {
    font-weight: 600;
    margin-bottom: 10px;
}

#TOC .tocify-item.list-group-item {
    border-left: 3px solid transparent;
    transition: background-color 0.3s, color 0.3s;
}

#TOC .tocify-item.list-group-item:hover {
    background-color: rgba(61, 109, 116, 0.815);
    color: white;
}

#toc .tocify-item.list-group-item.active {
    background-color: NAVY;
    color: gold;
}



